
.buttons{
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container{
  height:100vh;
  font-size: larger;
  display: flex;
  background-color: rgb(53, 49, 49);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border:2px solid red; */
}
.questionContainerMain{
  height:90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(225, 209, 209);
  border:1px solid gray;
}
.questionContainer1{
  height:10%;
  width: 97%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(195, 16, 16); */
  /* border:1px solid gray; */
}
.questionContainer2{
  height:60%;
  width: 97%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* background-color: rgb(195, 16, 16); */
  /* border:1px solid gray; */
}
.questionContainer3{
  height:20%;
  width: 97%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(195, 16, 16); */
  /* border:1px solid rgb(189, 184, 184); */
}
.letterQ{
  margin:0;
  color: rgb(215, 46, 46);
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prevNextButtons {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.prevNextButtons:hover {
  border-color: #646cff;
}
.prevNextButtons:focus,
.prevNextButtons:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
